$white: #ffff;
$bn: #f5f5f5;
$gris1: #e0e0e0;
$gris2: #939090;
$gris3: #333;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #292b2d;
$celeste: #d8effa;
$verde:#038284;
$azul:#5b4e6f
